{% extends '_base.html' %}

{% load tailwind_filters %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="sm:px-2 px-4">

  <div class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row mb-4">
    <h1 class="text-2xl font-semibold whitespace-nowrap">Change Password</h1>   
  </div>

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    
    <button class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" type="submit">Change Password</button>
  </form>


</div>


{% endblock content %}
