{% extends '_base.html' %}

{% load tailwind_filters %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="px-4 sm:px-2">

  <div class="flex flex-col justify-between items-start pb-6 mb-4 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
    <h1 class="text-2xl font-semibold">Change Password</h1>   
  </div>

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
    
    <button class="px-5 py-2.5 mb-2 text-sm font-medium text-center text-white bg-gradient-to-r from-cyan-500 to-blue-500 rounded-lg hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 me-2" type="submit">Change Password</button>
  </form>


</div>


{% endblock content %}
