{$DOMAIN} {
    # Static files
    handle /static/* {
        uri strip_prefix /static
        root * /code/staticfiles
        file_server
    }

    # Media files
    handle /media/* {
        uri strip_prefix /media
        root * /code/media
        file_server
    }

    # WebSocket proxy
    handle /ws/* {
        reverse_proxy web:8001
    }

    # Default reverse proxy
    handle {
        reverse_proxy web:8000
    }

    log {
        output stdout
        format json
    }
}