{$DOMAIN} {
    handle {
        reverse_proxy web:8000
    }
    
    handle /static/* {
        root * /code/static
        file_server
    }
    
    handle /media/* {
        root * /code/media
        file_server
    }
}