<div id="approval-form">
  {% if can_approve %}
      <h4>Approval Action</h4>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
              <label for="is_approved" class="form-label">Decision:</label>
              <select name="is_approved" id="is_approved" class="form-select" required>
                  <option value="true">Approve</option>
                  <option value="false">Reject</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="comment" class="form-label">Comment:</label>
              <textarea name="comment" id="comment" class="block w-full px-0 text-sm text-gray-800 bg-white border-0 focus:ring-0"></textarea>
          </div>

   

          <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Submit Decision</button>
      </form>
  {% endif %}
</div>