<div id="document-actions">
    {% if can_resubmit %}


<div class="flex p-6 mt-6 bg-white rounded-xl">
    
        <a hx-get="{% url 'document_approval:resubmit_document' document.pk %}" class="px-5 py-2.5 mb-2 text-sm font-medium text-center text-white bg-gradient-to-r from-cyan-500 to-blue-500 rounded-lg hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 me-2" hx-target="#content-div" hx-push-url="true"  hx-indicator=".progress">Resubmit Document</a>


    {% endif %}

    {% if can_draw %}
    <div class="p-6 mt-6 bg-white rounded-xl">
        <form hx-post="{% url 'document_approval:withdraw_document' document_id=document.pk %}"
        hx-target="#document-status"
        hx-swap="outerHTML"
        style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="px-5 py-2.5 mb-2 text-sm font-medium text-center text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 rounded-lg hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 me-2">Withdraw Document</button>
  </form>

    </div>

    {% endif %}

    {% if can_cancel %}
        <form method="post" hx-post="{% url 'document_approval:cancel_document' document.pk %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="px-5 py-2.5 mb-2 text-sm font-medium text-center text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 rounded-lg hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 me-2">Cancel Document</button>
        </form>
    {% endif %}

    </div>
  </div>