

  <button hx-post="{% url 'document_approval:toggle_favorite' document.id %}"
          hx-swap="outerHTML"
           class="{% if is_favorite %}text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2{% else %} text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2{% endif %} mr-4">
      {% if is_favorite %}
          Unfavorite
      {% else %}
          Favorite
      {% endif %}
  </button


