<div class="mb-2 product-row">
  <input type="text" class="w-full max-w-xs input input-bordered" name="product_id_{{ field_id }}[]" placeholder="ID" required>
  <input type="text" class="w-full max-w-xs input input-bordered" name="product_code_{{ field_id }}[]" placeholder="CODE" required>
  <input type="text" class="w-full max-w-xs input input-bordered" name="product_name_{{ field_id }}[]" placeholder="Product Name" required>
  <input type="number" class="w-full max-w-xs input input-bordered" name="product_quantity_{{ field_id }}[]" placeholder="Quantity" required>
  <button type="button" class="btn btn-error" onclick="removeProductRow(this)">Remove product</button>

</div>