{% if errors %}

<div x-data="{ show: true }">
    <div class="my-4 alert alert-info" role="alert" x-show="show">
        <div class="flex items-start justify-between">
            <svg
                @click="show = false"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 ml-2 transition-opacity cursor-pointer stroke-current shrink-0 hover:opacity-75"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>
            <div class="flex-grow">
                {% for error in errors %}
                    <div class="mb-1 ml-2">{{ error }}</div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endif %}