

<div class="mt-4">

    <div class="flex justify-between items-center">
        <div><h3 class="text-lg font-medium leading-6 text-base-content">Document Detail Page</h3>
            <p class="max-w-2xl mt-1 text-sm text-gray-500">Please Review Document</p></div>
        <div>

            <a href="{% url 'document_approval:generate_pdf_report' document.id 1 %}" class="btn btn-primary" target="_blank">PDF Report</a></div>

    </div>


    <div class="p-6 mt-6 mb-6 rounded-2xl bg-white border shadow-sm">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <h5 class="text-lg font-medium leading-6 text-base-content mt-4">Title :
            <span class="text-xl text-gray-600">{{ document.title }} </span>
            <article class="prose prose-sm max-w-none">{{ document.content|safe}}</article>
    </div>


    <div class="p-6 mt-6 mb-6 rounded-2xl bg-white border shadow-sm">
                {% include "partials/document_status.html" %}
  <h5 class="text-lg font-medium leading-6 text-base-content mt-3">Submitted by:
    <span class="text-primary font-bold text-md">{{ document.submitted_by.username }}</span>

  <h5 class="text-lg font-medium leading-6 text-base-content mt-3">Submitted at:
    <span class="text-primary font-bold text-md">{{ document.created_at }}</span>

                {% for value in prepared_values %}

                        <h3 class="h6">{{ value.name }}</h3>
                        {% if value.field_type == 'product_list' %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in value.value %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>


                        {% elif value.field_type == 'attachment' %}
                            {% if value.file %}
                                <p><a href="{{ value.file.url }}" class="btn btn-sm btn-primary" target="_blank">Download {{ value.file.name }}</a></p>
                            {% else %}
                                <p>No file attached.</p>
                            {% endif %}
                        {% elif value.field_type == 'boolean' %}
                            <p>{% if value.value %}Yes{% else %}No{% endif %}</p>
                        {% else %}
                            <p>{{ value.value }}</p>
                        {% endif %}
                {% endfor %}

                <h2 class="mb-3">User Input</h2>

        {% for approval in document.approvals.all %}
        {% if approval.step.requires_input %}
        <li class="list-group-item">
        <br>{{ approval.step.input_prompt }}:
        <h5 class="mb-1">In put by {{ approval.approver.username }}</h5>
        </li>
        {% if approval.step.input_type == 'file' %}
        <li class="list-group-item">
            {% if approval.uploaded_file %}
                <a href="{{ approval.uploaded_file.url }}">{{ approval.uploaded_file.name }}</a>
                <h5 class="mb-1">In put by {{ approval.approver.username }}</h5>
            {% else %}
                No file uploaded
            {% endif %}
        </li>
        {% else %}
            {{ approval.user_input|default:"No input provided" }}
        {% endif %}
    {% endif %}
            {% endfor %}

            {% include 'partials/favorite_button.html' with document=document is_favorite=is_favorite %}


        </div>




        {% if document.approvals.all|length > 0  %}

        <div class="p-6 mt-6 mb-6 rounded-2xl bg-white border shadow-sm">


            <h3 class="text-lg font-medium leading-6 text-gray-900">Approval Steps</h3>

            {% endif %}
                {% for approval in ordered_approvals %}

                    <div class="p-4 rounded my-2 {% if document.current_step and approval.is_approved is None  %}bg-gray-50{% endif %}{% if approval.is_approved == False %} bg-red-50{% endif %}{% if approval.is_approved == True%} bg-green-50{% endif %}">

                        <div class="flex justify-between">

                            <div>
                                <span class="font-medium">{{ approval.step.name }} - {{ approval.approver.username }}</span>

                                {% if approval.comment %}
                                <p class="text-sm text-gray-600 mt-2"><small>Comment: {{ approval.comment }}</small></p>
                            {% endif %}
                            {% if approval.recorded_at %}
                            <p class="text-sm text-gray-600 mt-2"><small>Record at: {{ approval.recorded_at|date:"F d, Y H:i" }}</small></p>
                            {% endif %}


                            </div>

                            <div>
                              {% if approval.is_approved == True %}
                                <span class="px-2 py-1 bg-green-500 text-white text-sm rounded flex items-center">Approved</span>
                            {% elif approval.is_approved == False %}
                                <span class="px-2 py-1 bg-red-500 text-white text-sm rounded flex items-center">Rejected</span>
                            {% else %}
                                <span class="px-2 py-1 bg-blue-500 text-white text-sm rounded flex items-center">Pending</span>
                            {% endif %}
                            </div>
                        </div>


                    </div>
                {% endfor %}



        </div>


        {% if can_approve %}
        <div id="approval-form" class="bg-white rounded-xl p-6 mt-6">
            <h3 class="text-lg font-medium leading-6 text-gray-900 mb-6">Approve Review</h3>
            <form hx-post="{% url 'document_approval:document_detail' document.pk %}" hx-target="#content-div">
                {% csrf_token %}
                <div class="mb-3 text-xl">
                    <div class="flex items-center mb-4">
                        <input class="w-8 h-8 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" type="radio" name="is_approved" id="approve" value="true" required>
                        <label class="font-medium text-gray-900 pl-4" for="approve">Approve</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input class="w-8 h-8 text-red-500 bg-gray-100 border-gray-300 rounded focus:ring-red-500"  type="radio" name="is_approved" id="reject" value="false" required>
                        <label class="font-medium text-red-500 pl-4" for="reject">Reject</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment:</label>
                    <textarea  class="textarea textarea-bordered w-full" name="comment" id="comment" rows="3"></textarea>
                </div>
                {% if user_approval.step.requires_input %}
                <div class="mb-3">
                    <label>{{ user_approval.step.input_prompt }}</label>
                    {% if user_approval.step.input_type == 'text' %}
                        <input type="text" name="user_input">
                    {% elif user_approval.step.input_type == 'number' %}
                        <input type="number" name="user_input">
                    {% elif user_approval.step.input_type == 'date' %}
                        <input type="date" name="user_input">
                    {% elif user_approval.step.input_type == 'file' %}
                        <input type="file" name="user_input_file">
                        <small>Allowed file types: {{ user_approval.step.allowed_file_extensions }}</small>
                    {% endif %}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %}




        {% include "partials/document_actions.html" %}

    </div>




    </div>
