
<div class="container mt-5">
    <h1 class="mb-4 mt-2 fw-bold">Available Workflows</h1>
    <div class="row align-items-md-stretch">

        {% for workflow in workflows %}
        <div class="col-md-6">
            <div class="h-100 p-5 rounded-3 {% if forloop.counter0|divisibleby:2 %}text-bg-dark{% else %}bg-body-tertiary border{% endif %}">
                <div class="card-body">
                    <h5 class="card-title">{{ workflow.name }}</h5>
                    <p class="card-text">Created on: {{ workflow.created_at|date:"F d, Y" }}</p>
                    <a href="" class="btn {% if forloop.counter0|divisibleby:2 %}btn-outline-light{% else %}btn-outline-secondary{% endif %}"

                    hx-get="{% url 'document_approval:submit_document' workflow.id %}" hx-target="#content-div" hx-push-url="true"  hx-indicator=".progress"
                    >Submit Document</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No workflows available.</p>
        </div>
        {% endfor %}

    </div>

</div>
